<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flower_id %>
    <%= form.number_field :flower_id, id: :comment_flower_id %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :comment_author %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :comment_body %>
  </div>

  <div class="field">
    <%= form.label :vote %>
    <%= form.number_field :vote, id: :comment_vote %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
