<p id="notice"><%= notice %></p>

<h1>Flowers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flowers.each do |flower| %>
      <tr>
        <td><%= image_tag flower.picture.thumb('50x50').url if flower.picture_stored? %></td>
        <td><%= flower.title %></td>
        <td><%= flower.description %></td>
        <td><%= flower.votes %></td>
        <td><%= link_to 'Show', flower %></td>
        <td><%= link_to 'Edit', edit_flower_path(flower) %></td>
        <td><%= link_to 'Destroy', flower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flower', new_flower_path %>
